@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

/* ==========================================================================
Footer
========================================================================== */

.footer {
  position: absolute;
  bottom: 3rem;
  text-align: center;
  left: 0;
  right: 0;
  transition: opacity 0.4s ease;
  transition-delay: 0.1s;
}

#copyright {
  font-size: 0.9rem;
}

/* ==========================================================================
Logo styles
========================================================================== */
#logo-img {
  height: 60px;
  width: 60px;
  display: inline-block;
  vertical-align: middle;
  background: url('../../../content/images/brand/logo.png') no-repeat center center;
  background-size: contain;
}
