@import 'content/scss/bootstrap-variables';
@import 'content/scss/vendor';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

/* ==========================================================================
Info: sidenav-popover and sidenav-dropdown class in global.scss
========================================================================== */

/* ==========================================================================
Sidenav
========================================================================== */

.sidenav {
  background-color: $fossure-darker;
  color: $light;
  position: fixed;
  left: 0;
  z-index: 50;
  height: 96vh;
  font-weight: $font-weight-semibold;
  margin: 1rem .5rem;
  border-radius: $border-radius-lg;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: thin;
}

.sidenav-xl {
  width: 220px;
  -webkit-transition: $transition-collapse-width;
  -moz-transition: $transition-collapse-width;
  -o-transition: $transition-collapse-width;
  transition: $transition-collapse-width;
}

.sidenav-xl .active {
  color: $fossure-red;
  background-color: $fossure-dark;
  border-radius: 2rem;
}

.sidenav-xl li {
  padding: 0 1.6rem;
}

.sidenav-xl fa-icon {
  width: 34px;
  display: inline-block;
}

.sidenav-sm {
  width: 77px;
  text-align: center;
  -webkit-transition: $transition-collapse-width;
  -moz-transition: $transition-collapse-width;
  -o-transition: $transition-collapse-width;
  transition: $transition-collapse-width;
}

.sidenav-sm > * {
  padding: 0;
}

.sidenav .nav-item {
  margin: .4rem .7rem;
}

.sidenav .nav-item:hover {
  color: shade-color($light, 30%);
}

.sidenav-sm .nav-link span {
  display: none;
}

.sidenav-sm .active {
  color: $fossure-red;
  background-color: $fossure-dark;
  border-radius: 2rem;
}

/* ==============================================================
Sidenav Dropdown
===============================================================*/

.sidenav-dropdown .dropdown-menu {
  padding: .6rem 1rem;
}

.sidenav-dropdown .dropdown-item {
  border-radius: 2rem;
  font-weight: $font-weight-semibold;
}

.sidenav-dropdown .dropdown-item.active {
  background-color: $fossure-dark;
  font-weight: $font-weight-semibold;
  color: $light;
}

.sidenav .dropdown-toggle::after {
  content: none !important;
}

.sidenav-dropdown .dropdown-item:hover {
  background-color: $fossure-dark;
}

.sidenav-dropdown fa-icon {
  width: 34px;
  display: inline-block;
}

/* ==========================================================================
Sidenav Toggle Button
========================================================================== */

.sidenav-toggle-btn {
  background-color: transparent;
  border: none;
  color: $light;
  text-align: center;
  width: 100%;
  padding: 1rem !important;
  cursor: pointer;
  margin-bottom: 1rem;
}

.sidenav-toggle-btn:hover {
  color: shade-color($light, 30%);
}

/* ==========================================================================
Sidenav Profile
========================================================================== */

.sidenav .profile-img {
  width: 44px;
  height: 44px;
  line-height: 44px;
  border-radius: 50%;
  font-weight: $font-weight-bold;
  color: $fossure-dark;
  text-align: center;
  background: $light;
  margin: 0 0 0 1rem;
  -webkit-transition: $transition-base;
  -moz-transition: $transition-base;
  -o-transition: $transition-base;
  transition: $transition-base;
  cursor: pointer;
}

.profile-actions fa-icon:hover {
  color: shade-color($light, 30%);
  cursor: pointer;
}

.profile-actions {
  color: $light;
}

.profile-actions .active {
  color: $fossure-red;
}

.sidenav-xl .profile-actions {
  opacity: 1;
  -webkit-transition: $transition-base;
  -moz-transition: $transition-base;
  -o-transition: $transition-base;
  transition: $transition-base;
  transition-delay: .2s;
}

.sidenav-sm .profile-actions {
  opacity: 0;
  visibility: hidden;
}

.sidenav-xl .profile .icons > * {
  width: 33.33333333% !important;
}

/* ==========================================================================
Sidenav Footer
========================================================================== */

.sidenav-footer {
  text-align: center;
  height: 100%;
}

#logo-img {
  height: 60px;
  background: url('../../../content/images/brand/logo.png') no-repeat center center;
  background-size: contain;
  margin-bottom: .6rem;
}

.sidenav-sm .sidenav-footer #logo-name {
  visibility: hidden;
  overflow: hidden;
  opacity: 0;
  height: 0;
  padding: 0;
  margin: 0;
  transition: visibility 0s, opacity 0.4s ease;
  transition-delay: 0.1s;
}

.sidenav-xl .sidenav-footer #logo-name {
  visibility: visible;
  opacity: 1;
  height: 48px;
  transition: visibility 0s, opacity 0.4s ease;
  transition-delay: 0.1s;
}

.sidenav-sm #logo-img {
  transform: scale(0.7);
}
