<jhi-notification></jhi-notification>

<div class="container-fluid dashboard">
  <div class="row align-items-start g-3">
    <div class="col">
      <h4>Hi {{ account?.login }},</h4>
      <h2 class="fw-semibold">Welcome Home 👋</h2>
    </div>

    <div class="col-md-12 col-lg-9 col-xl-8">
      <div class="row g-4">
        <div class="col-sm-12 col-lg-7">
          <form (ngSubmit)="librarySearch()" [formGroup]="librarySearchForm" name="librarySearchForm" novalidate role="form">
            <div class="container-fluid position-relative">
              <div class="row justify-content-end g-3">
                <div class="form-floating col-md-8">
                  <input class="form-control" formControlName="name" id="libraryNameInput" placeholder="name" type="text" />
                  <label for="libraryNameInput">Search library e.g. @angular/cli@15.2.6</label>
                </div>

                <div class="form-floating col-sm">
                  <select aria-label="Select library type" class="form-select" formControlName="type" id="libraryTypeSelect">
                    <option [ngValue]="null">Choose type</option>
                    <option value="MAVEN">maven</option>
                    <option value="NPM">npm</option>
                    <option value="NUGET">nuget</option>
                    <option value="PYPI">pypi</option>
                    <option value="GOLANG">golang</option>
                    <option value="ALPINE">alpine</option>
                    <option value="APACHE">apache</option>
                    <option value="BITBUCKET">bitbucket</option>
                    <option value="CARGO">cargo</option>
                    <option value="COMPOSER">composer</option>
                    <option value="DEB">deb</option>
                    <option value="DOCKER">docker</option>
                    <option value="GEM">gem</option>
                    <option value="GENERIC">generic</option>
                    <option value="GITHUB">github</option>
                    <option value="GRADLE">gradle</option>
                    <option value="HEX">hex</option>
                    <option value="JAR">jar</option>
                    <option value="JAVA">java</option>
                    <option value="JS">js</option>
                    <option value="POM">pom</option>
                    <option value="RPM">rpm</option>
                    <option value="XSD">xsd</option>
                    <option value="ZIP">zip</option>
                    <option value="UNKNOWN">unknown</option>
                  </select>
                  <label for="libraryTypeSelect">Type</label>
                </div>
                <div class="col-md-auto align-self-center">
                  <button [disabled]="librarySearchForm.invalid" class="btn btn-primary btn-lg w-100" type="submit">
                    <fa-icon icon="search"></fa-icon>
                  </button>
                </div>
              </div>
              <fa-icon
                class="position-absolute top-0 end-0 text-secondary"
                icon="question-circle"
                [ngbTooltip]="checkLibraryTooltip"
                container="body"
              ></fa-icon>
              <ng-template #checkLibraryTooltip>
                Search for a library.<br />Use the purl syntax: <b>groupId/artifactId@version</b><br />or<br /><b>artifactId@version</b>
              </ng-template>
              <div
                *ngIf="
                  librarySearchForm.get('name')!.invalid &&
                  (librarySearchForm.get('name')!.dirty || librarySearchForm.get('name')!.touched)
                "
              >
                <small *ngIf="librarySearchForm.get('name')?.errors?.pattern" class="form-text text-danger">
                  Library name doesn't match the search pattern. groupId/artifactId@version
                </small>
              </div>
              <small *ngIf="librarySearchFormEmptyError === true" class="form-text text-danger">
                To start your search, please fill out the library name and type.
              </small>
            </div>
          </form>
        </div>

        <div class="col-sm-12 col-lg-5">
          <form name="licenseSearchForm" role="form" novalidate (ngSubmit)="licenseSearch()" [formGroup]="licenseSearchForm">
            <div class="container-fluid position-relative">
              <div class="row justify-content-end g-3">
                <div class="form-floating col">
                  <input type="text" class="form-control" id="licenseNameInput" placeholder="name" formControlName="name" />
                  <label for="licenseNameInput">Search license</label>
                </div>
                <div class="col-md-auto align-self-center">
                  <button type="submit" class="btn btn-primary btn-lg w-100" [disabled]="licenseSearchForm.invalid">
                    <fa-icon icon="search"></fa-icon>
                  </button>
                </div>
              </div>
              <fa-icon
                class="position-absolute top-0 end-0 text-secondary"
                icon="question-circle"
                [ngbTooltip]="checkLicenseTooltip"
                container="body"
              >
              </fa-icon>
              <ng-template #checkLicenseTooltip> Search for a license.<br />Full name or short identifier can be used. </ng-template>
              <small class="form-text text-danger" *ngIf="licenseSearchFormEmptyError === true">
                To start your search, please fill out the license name.
              </small>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="row g-3 justify-content-center">
    <div class="col-md-auto">
      <div class="insight-sm" routerLink="project">
        <span>{{ insights?.totalActiveProjects }} / {{ insights?.totalProjects }}</span>
        <span>Active / Projects</span>
        <fa-icon
          class="position-absolute top-0 end-0 text-secondary"
          icon="question-circle"
          transform="shrink-6"
          ngbTooltip="Projects currently under development / Total number of projects"
          container="body"
        ></fa-icon>
      </div>
    </div>
    <div class="col-md-auto">
      <div class="insight-sm" routerLink="library">
        <span>{{ insights?.totalComponents | shortenedNumber: 2 }}</span>
        <span>Libraries</span>
        <fa-icon
          class="position-absolute top-0 end-0 text-secondary"
          icon="question-circle"
          transform="shrink-6"
          ngbTooltip="Total number of libraries"
          container="body"
        ></fa-icon>
      </div>
    </div>
    <div class="col-md-auto">
      <div
        class="insight-sm"
        routerLink="library"
        [queryParams]="{ 'linkedLicenseShortIdentifier.in': 'Unknown,Non-Licensed', page: 1, size: 50 }"
      >
        <span>{{ insights?.totalUnidentifiedComponents }}</span>
        <span>Unidentified</span>
        <fa-icon
          class="position-absolute top-0 end-0 text-secondary"
          icon="question-circle"
          transform="shrink-6"
          ngbTooltip="Total number of libraries with 'Unknown' or 'Non-licensed' licenses"
          container="body"
        ></fa-icon>
      </div>
    </div>
    <div class="col-md-auto">
      <div class="insight-sm" routerLink="library" [queryParams]="{ 'reviewed.equals': 'true', page: 1, size: 50 }">
        <span>{{ insights?.percentageReviewedComponents ?? 0 }}%</span>
        <span>Reviewed Libraries</span>
        <fa-icon
          class="position-absolute top-0 end-0 text-secondary"
          icon="question-circle"
          transform="shrink-6"
          ngbTooltip="Total number of reviewed libraries"
          container="body"
        ></fa-icon>
      </div>
    </div>
    <div class="col-md-auto">
      <div class="insight-sm" routerLink="license">
        <span>{{ insights?.totalLicenses }}</span>
        <span>Licenses</span>
        <fa-icon
          class="position-absolute top-0 end-0 text-secondary"
          icon="question-circle"
          transform="shrink-6"
          ngbTooltip="Total number of licenses"
          container="body"
        ></fa-icon>
      </div>
    </div>
    <div class="col-md-auto">
      <div class="insight-sm" routerLink="license" [queryParams]="{ 'reviewed.equals': 'true', page: 1, size: 50 }">
        <span>{{ insights?.percentageReviewedLicenses ?? 0 }}%</span>
        <span>Reviewed Licenses</span>
        <fa-icon
          class="position-absolute top-0 end-0 text-secondary"
          icon="question-circle"
          transform="shrink-6"
          ngbTooltip="Total number of reviewed licenses"
          container="body"
        ></fa-icon>
      </div>
    </div>
  </div>

  <div class="row g-5 gy-lg-3">
    <!-- Projects -->
    <div class="col-lg-4">
      <div class="row mb-3">
        <div class="col">
          <h4 class="fw-semibold">Last Updated Projects</h4>
        </div>
        <div class="col-auto text-end">
          <a class="text-muted fw-normal" routerLink="project">View all</a>
        </div>
      </div>
      <div *ngIf="!projects || projects?.length === 0" class="row text-center">
        <span class="text-muted">No projects found.<br /><a [routerLink]="['/project', 'new']">Create your first project and upload a SBOM 👈</a></span>
      </div>
      <div *ngFor="let project of projects" [routerLink]="['/project', project.id, 'view']" class="row mb-2 grid-table">
        <div class="col-5 align-self-center">
          <span class="fw-semibold">{{ project.name }}</span
          ><br /><span class="text-muted">{{ project.version }}</span>
        </div>
        <div class="col-3 align-self-center">{{ project.lastUpdatedDate | formatMediumDate }}</div>
        <div class="col-2 align-self-center text-center">
          <span [ngSwitch]="project.uploadState">
            <span *ngSwitchCase="'OK'" class="badge text-bg-success" ngbTooltip="Upload was successful" placement="top">OK</span>
            <span *ngSwitchCase="'PROCESSING'" class="badge text-bg-warning" placement="top" ngbTooltip="Upload is processing"
              >Processing</span
            >
            <span *ngSwitchCase="'FAILURE'" class="badge text-bg-danger" placement="top" ngbTooltip="Upload failed. Check logs!"
              >Failure</span
            >
          </span>
        </div>
        <div class="col-2 align-self-center text-end">
          <fa-icon icon="chevron-right"></fa-icon>
        </div>
      </div>
    </div>

    <!-- Libraries -->
    <div class="col-lg-4">
      <div class="row mb-3">
        <div class="col">
          <h4 class="fw-semibold">New Libraries</h4>
        </div>
        <div class="col-auto text-end">
          <a class="text-muted fw-normal" routerLink="library">View all</a>
        </div>
      </div>
      <div class="row text-center" *ngIf="!libraries || libraries?.length === 0">
        <span class="text-muted">No libraries found.</span>
      </div>
      <div class="row mb-2 grid-table" *ngFor="let library of libraries" [routerLink]="['/library', library.id, 'view']">
        <div class="col-5 align-self-center">
          <span class="fw-semibold">{{ library.artifactId }}</span
          ><br />
          <span class="text-muted">{{ library.version }}</span>
          <span class="badge-outline-light" style="font-size: 0.7rem">{{ library.type }}</span>
        </div>
        <div class="col-3 align-self-center">{{ library.createdDate | formatMediumDate }}</div>
        <div class="col-2 align-self-center text-center">
          <span
            class="rectangle-sm"
            [ngStyle]="{ 'background-color': library.libraryRisk?.color }"
            placement="top"
            [ngbTooltip]="library.libraryRisk?.name"
          ></span>
        </div>
        <div class="col-2 align-self-center text-end">
          <fa-icon icon="chevron-right"></fa-icon>
        </div>
      </div>
    </div>

    <!-- Licenses -->
    <div class="col-lg-4">
      <div class="row mb-3">
        <div class="col">
          <h4 class="fw-semibold">Last Reviewed Licenses</h4>
        </div>
        <div class="col-auto text-end">
          <a class="text-muted fw-normal" routerLink="license">View all</a>
        </div>
      </div>
      <div class="row text-center" *ngIf="!licenses || licenses?.length === 0">
        <span class="text-muted">No licenses found.</span>
      </div>
      <div class="row mb-2 grid-table" *ngFor="let license of licenses" [routerLink]="['/license', license.id, 'view']">
        <div class="col-5 align-self-center">
          <span class="fw-semibold">{{ license.shortIdentifier }}</span
          ><br />
          <span class="text-muted">{{ license?.lastReviewedBy?.login }}</span>
        </div>
        <div class="col-3 align-self-center">{{ license.lastReviewedDate | formatMediumDate }}</div>
        <div class="col-2 align-self-center text-center">
          <span
            class="rectangle-sm"
            [ngStyle]="{ 'background-color': license.licenseRisk?.color }"
            placement="top"
            [ngbTooltip]="license.licenseRisk?.name"
          ></span>
        </div>
        <div class="col-2 align-self-center text-end">
          <fa-icon icon="chevron-right"></fa-icon>
        </div>
      </div>
    </div>
  </div>
</div>
